<a href="https://colab.research.google.com/github/bbishal12/Quiz0/blob/main/Quiz_17_Ints_and_Floats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Visualization
##Bishal Budhathoki
##Quiz 17: Integers and Floats

Does converting SepalLength to integer increase or decrease the mean?

Does the direction of the shift remain the same if you groupby Class?

Gather the mean, median, count and standard deviation of all columns when grouped by Class.

In [1]:
import pandas as pd
import statistics

iris_df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/iris.csv')
iris_df

     SepalLength  SepalWidth  PedalLength  PedalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [2]:
from numpy.ma.core import mean
mean(iris_df.SepalWidth)

3.0540000000000003

In [3]:
new_df= iris_df.SepalWidth.astype('int') 
new_df

0      3
1      3
2      3
3      3
4      3
      ..
145    3
146    2
147    3
148    3
149    3
Name: SepalWidth, Length: 150, dtype: int64

In [4]:
mean(new_df)

2.6466666666666665

In [5]:
rnew_df=round(iris_df.SepalWidth).astype('int')
rnew_df

0      4
1      3
2      3
3      3
4      4
      ..
145    3
146    2
147    3
148    3
149    3
Name: SepalWidth, Length: 150, dtype: int64

In [6]:
mean(rnew_df)

3.033333333333333

Now, applying the shift function.

In [7]:
df_test=iris_df.shift()
df_test

     SepalLength  SepalWidth  PedalLength  PedalWidth           Class
0            NaN         NaN          NaN         NaN             NaN
1            5.1         3.5          1.4         0.2     Iris-setosa
2            4.9         3.0          1.4         0.2     Iris-setosa
3            4.7         3.2          1.3         0.2     Iris-setosa
4            4.6         3.1          1.5         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.3          5.7         2.5  Iris-virginica
146          6.7         3.0          5.2         2.3  Iris-virginica
147          6.3         2.5          5.0         1.9  Iris-virginica
148          6.5         3.0          5.2         2.0  Iris-virginica
149          6.2         3.4          5.4         2.3  Iris-virginica

[150 rows x 5 columns]

In [8]:
col= iris_df.groupby('Class')
col.shift()

     SepalLength  SepalWidth  PedalLength  PedalWidth
0            NaN         NaN          NaN         NaN
1            5.1         3.5          1.4         0.2
2            4.9         3.0          1.4         0.2
3            4.7         3.2          1.3         0.2
4            4.6         3.1          1.5         0.2
..           ...         ...          ...         ...
145          6.7         3.3          5.7         2.5
146          6.7         3.0          5.2         2.3
147          6.3         2.5          5.0         1.9
148          6.5         3.0          5.2         2.0
149          6.2         3.4          5.4         2.3

[150 rows x 4 columns]

Now, lets find out mean, median, count and std of the class.

In [9]:
iris_df.groupby('Class').SepalWidth.agg(['mean','median','count', 'std'])

                  mean  median  count       std
Class
Iris-setosa      3.418     3.4     50  0.381024
Iris-versicolor  2.770     2.8     50  0.313798
Iris-virginica   2.974     3.0     50  0.322497

The above data  is the mean, median, count and std of all columns by class.