<a href="https://colab.research.google.com/github/bbishal12/Quiz0/blob/main/Quiz_16_Dates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Visualization
##Bishal Budhathoki
##Quiz 16: Dates

Using the dataset from an IOT device retreived from here and introduced to here. Uploaded to the web for you to retrieve easily here https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv Answer the folloiwng questions.


Convert the noted_date into DateTime, it is in day-month-Year Hour:Minute format.

What is the minimum and maximum date and time?

What is the largest interval inbetween temperature checks?

What is the average datetime?

What was the average outside temperature on '09-11-2018'?

In [8]:
import pandas as pa

df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv ')

df.head(15).T

                                             0   ...                                   14
id          __export__.temp_log_196134_bd201015  ...  __export__.temp_log_196095_788b2c27
room_id/id                           Room Admin  ...                           Room Admin
noted_date                     08-12-2018 09:30  ...                     08-12-2018 09:22
temp                                         29  ...                                   29
out/in                                       In  ...                                   In

[5 rows x 15 columns]

In [9]:
df.dtypes

id            object
room_id/id    object
noted_date    object
temp           int64
out/in        object
dtype: object

The above data are the types of datas.

In [17]:
pa.to_datetime(df.noted_date, format='%d-%m-%Y %H:%M')

0       2018-12-08 09:30:00
1       2018-12-08 09:30:00
2       2018-12-08 09:29:00
3       2018-12-08 09:29:00
4       2018-12-08 09:29:00
                ...
97601   2018-07-28 07:07:00
97602   2018-07-28 07:07:00
97603   2018-07-28 07:06:00
97604   2018-07-28 07:06:00
97605   2018-07-28 07:06:00
Name: noted_date, Length: 97606, dtype: datetime64[ns]

The above data is the year month time format.

In [26]:
df.noted_date = pa.to_datetime(df.noted_date, format='%d-%m-%Y %H:%M')

In [27]:
df.temp.describe()

count    97606.000000
mean        35.053931
std          5.699825
min         21.000000
25%         30.000000
50%         35.000000
75%         40.000000
max         51.000000
Name: temp, dtype: float64

In [28]:
df.noted_date.dt.day.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0         8
1         8
2         8
3         8
4         8
         ..
97601    28
97602    28
97603    28
97604    28
97605    28
Name: noted_date, Length: 97606, dtype: int64>

Hence, this the average mean of the data.