<a href="https://colab.research.google.com/github/bbishal12/Quiz0/blob/main/SQL_JOINS_Quiz6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Visualizatiom
##Bishal Budhathoki
##Quiz 6: SQL JOINS

Use the Cloud Resource Manager to Create a Cloud Platform project if you do not already have one. Enable billing for the project. Enable BigQuery APIs for the project.

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Now that we are authenticated. We are going to look at the bikers trip data from Austin. We have a project called data-viz-bishal in my BigQuery interface.

Examine the average trip on Austin bike share grouping by property_type column from the bikeshare_stations table. Is average time on trips starting from 'parkland' longer than from 'sidewalks'?



We selected data from a joined dataset which display total trips and the average time based on property_type. We used a GROUP BY to group all the data based on property_type.

In [10]:
%%bigquery --project data-viz-bishal

SELECT property_type,COUNT(*) as total_trips, AVG(duration_minutes) as average_time
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations` as bike_station LEFT OUTER JOIN `bigquery-public-data.austin_bikeshare.bikeshare_trips` as bike_trips ON station_id = start_station_id
GROUP BY property_type
ORDER By average_time DESC

          property_type  total_trips  average_time
0    nonmetered_parking        32867     52.460188
1              parkland       162058     40.986955
2                              19776     33.502832
3              sidewalk       506315     31.453320
4          paid_parking       338035     28.032322
5  undetermined_parking       276171     26.095560
6                  None        65793     25.146568

From above table , we can say that average time from parkland is longer then average time from sidewalk.