<a href="https://colab.research.google.com/github/bbishal12/Quiz0/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Visualization
##Bishal Budhathoki
###Quiz 3 : SQL and BigQuery

1. Use the Cloud Resource Manager to Create a Cloud Platform project if you do not already have one.
2. Enable billing for the project.
3. Enable BigQuery APIs for the project.

In [11]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Now that I am authenticated, I can start to play around in the dataset. I am going to look at the liquor sales data from Iowa and try to find the most and least sales by city. I do have a project called pic-math in my BigQuery interface. So you'll need to make one but keep the name simple but identifiable!

We see that is a lot of rows. We really don't want to try to store that into memory! Let's have a peak at the data.

Compute how many entries are in the dataset

Navigate to the dataset austin_bikeshare.bikeshare_trips

In [12]:
%%bigquery --project data-viz-bishal
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   total_rows
0     1424786

Compute the longest trip from duration_minutes

In [13]:
%%bigquery --project data-viz-bishal
SELECT 
  MAX(duration_minutes) 
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

     f0_
0  34238

Compute the average time for a trip

In [14]:
%%bigquery --project data-viz-bishal
SELECT 
  AVG(duration_minutes) 
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

         f0_
0  30.870428

In [15]:
%%bigquery --project data-viz-bishal
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 5

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19

[5 rows x 9 columns]

In [16]:
%%bigquery --project data-viz-bishal df
SELECT 
  duration_minutes
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

In [17]:
import pandas as pd

groupeddf = df.groupby('duration_minutes')

In [18]:
maxdf = groupeddf.max()

In [21]:
maxdf

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[2142 rows x 0 columns]

In [22]:
print(df['duration_minutes'].max())

34238

In [23]:
print(df['duration_minutes'].mean())

30.870427558945693